{{>header}}
{{>body}}

<div>
    <h3>Input some numbers below(Separeted with commas)</h3>
    <textarea placeholder="numbers"></textarea>
</div>
<div><button type="submit" name="Submit" value="Submit">Submit</button></div>


{{>footer}}